/* .swiper-banner-compo .slide-inner img::before{
    background-color: rgba(0,0,0,0.35);
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
} */
